.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-bottom: 20px;
}

.items__card {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 400px;
    margin-top: 15px;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
}

.items__name {
    font-size: 20px;
    font-weight: 700;
}

.items__price {
    font-size: 18px;
    font-weight: 600;
}

.items__image > img {
    object-fit: cover;
    max-height: 200px;
    width: 100%;
}
