.home {
    background-color: #e9eded;
}

.home__banner {
    background: url('../../Assets//Images/banner1.jpg');
    height: 600px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.home__title {
    text-align: center;
}

.home__items {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media only screen and (max-width: 1400px) {
    .home__banner {
        background: url('../../Assets//Images/banner1.jpg');
        height: 400px;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media only screen and (max-width: 740px) {
    .home__banner {
        background: url('../../Assets//Images/banner1.jpg');
        height: 100px;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
