.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    background-color: darkgray;
    padding: 15px;
}

.navbar__left {
    font-size: large;
    font-weight: 800;
}

.navbar__right {
    display: flex;
    margin-right: 10px;
}

.navbar__cart {
    display: flex;
    align-items: center;
}

.navbar__itemCount {
    display: flex;
    align-items: center;
    font-size: large;
    font-weight: 700;
}

.navbar__options {
    margin: 5px;
}
